.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header-input {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-icon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
}
.header-option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header-optionOne {
    font-size: 10px;
}

.header-optionTwo {
    font-size: 13px;
    font-weight: 800;
}

.header-basketCount {
    display: flex;
    align-items: center;
    color: white;
}

.header-basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.shopping-basket {
    color: white;
}

.header-optionThree {
    display: flex;
    
}